.container-cover {
    margin-inline: auto;
    max-width: min(80%, 70em);
    padding-top: 2em;
    padding-bottom: 2em;
}

@media (min-width: 65em) {
    .cover-container {
        background-color: var(--clr-secondary-blue);
        display: flex;
        justify-content: flex-end;
    }

    .adtralza-cover {
        margin: 0;
        padding: 0;
        width: 70em;
        object-fit: cover;
    }

    .cover-text-container {
        position: absolute;
        width: 40%;
        top: 20em;
    }

    .container-cover {
        margin-inline: auto;
        max-width: min(80%, 70em);
        padding-top: 0;
        padding-bottom: 0;
    }

}